extends layout
h1= title
block content
    div
        a(href="..") Home
    div   
        a(href="../post/post1") Post 1
    div   
        a(href="../post/post2") Post 2
    div   
        a(href="../post/post3") Post 3