extends layout

block content
  h1= title
  h2= subtitle
  .article
    p(id="posttitle") Wow!
    p This is the first blog post I've ever written.
  .article
    p(id="posttitle") Yikes!
    p This is my second blog post.
  .article
    p(id="posttitle") Fantastic!
    p Finally I have achieved l33tness.
